

<h2>Users Listing</h2>
<table class="table" ng-if="users.length>0">
    <tr>
        <th>SNo.</th>
        <th>Full Name</th>

        <th>Address</th>
        <th>Contact No.</th>
        <th>Registration Date</th>
        <th>Actions</th>
    </tr>
    <tr ng-repeat="user in users">
        <td> {{ $index + 1 }} </td>
        <td> {{ user.firstName + " " + user.lastName }} </td>
        <td> {{ user.address }} </td>
        <td> {{ user.contactNo }} </td>
        <td> {{ user.registrationDate | date: 'medium'}} </td>
        <td>
            <a ui-sref="edit({id:user._id})">Edit</a> |
            <a href="#" ng-click="deleteUser(user._id)">Delete</a>
        </td>
    </tr>
</table>
<div ng-if="users.length==0">
    No record found !!
</div>


<div ng-controller="CircleSimpleCtrl as vm">
        <ng-map center="Seoul" zoom="12" mayTypeId="TERRAIN">
                <shape name="circle" ng-repeat="user in vm.users" no-watcher="true"
                  stroke-color="#FF0000"
                  stroke-opacity="0.8"
                  stroke-weight="2"
                  fill-color="#FF0000"
                  fill-opacity="0.35"
                  center="{{user.address}}"
                  radius="{{vm.getRadius(50)}}">
                </shape>
        </ng-map>
</div>


