  <div ng-controller="mapController as vm">
  <div class="mapWrap" data-tap-disabled="true">
        <ng-map center="Seoul" zoom="12" mayTypeId="TERRAIN">
                <marker id = "{{$index}}" position = {{user.address}}
                ng-repeat = "user in vm.users"
                on-click = "vm.showInfo(event, $index)">
                    <info-window id="marker-info">
                        <div ng-non-bindable="">
                            {{vm.user.firstName}}
                        </div> 
                    </info-window>
                </marker>
       </ng-map>
    </div>
</div>